---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import { Picture } from 'astro:assets';
import Indicator from '../../public/images/indicator.webp';
import Profile from '../../public/images/profile.webp';
import CodeGif from '../../public/images/code.gif';


import {getCollection, getEntry} from "astro:content";
import Card from "../components/ProjectCard.astro";
import PlaygroundCard from "../components/PlaygroundCard.astro";

const projects = await getCollection("projects");
const profile = await getEntry('data', 'profile');
const playground = await getEntry('data', 'playground');

---

<Layout title="Timy Villarmia">
	<main>
		<section class="py-28 lg:pt-48 lg:pb-28">
			<div class="container mx-auto">
				<div class="relative">
					<h1 class="text-2xl font-medium text-balance sm:text-5xl xl:text-6xl">What’s up. I’m Timy,  a programmer - who enjoys <span class="font-display-bold">solving complex problems </span>
						& <span class="font-display-bold">building stuffs with code.</span>
					</h1>
					<Picture src={CodeGif} formats={['gif']} alt="person coding" class="hidden w-60 h-auto absolute rounded-lg top-0 right-0"/>
					<div class="flex justify-between items-center my-8 sm:justify-start sm:gap-x-8">
						<div class="flex justify-center items-center gap-x-1">
							<Icon name="mdi:location"/>
							<p class="opacity-100">Cebu City, PH</p>
						</div>
						<div class="flex justify-center items-center gap-x-1">
							<Icon name="mdi:check-circle-outline" class="text-[#34d399]"/>
							<p class="opacity-100">Available for Internship</p>
						</div>
					</div>
				</div>
				<div class="flex justify-center pt-10 sm:justify-start lg:justify-end">
					<Picture 
					src={Indicator}
					alt="scroll down"
					formats={['webp']}
					class={"h-auto w-auto lg:mr-20"}
					loading="lazy"
					decoding="async"
					/>
				</div>
			</div>

		</section>
		<section class="bg-dark-gray py-20 text-balance lg:py-32">
			<div class="container mx-auto flex flex-col gap-y-20 lg:flex-row lg:gap-x-10">
				<div class="lg:basis-1/2">
					<p class="mb-8">
						I’m a Filipino programmer specializing in web development, currently pursuing a Bachelor of Science in Computer Science. I’m passionate in interrelating humans and technology through code. My focus lies in building scalable, accessible, and technically refined software. 
					</p>
					<p class="mb-8">
						Find me elsewhere on the web: <a href="https://www.linkedin.com/in/timyvillarmia/" target="_blank">LinkedIn</a>, <a href="https://github.com/TimyVillarmia" target="_blank">Github</a>, <a href="https://www.facebook.com/VillarmiaTimy" target="_blank">Facebook</a> or e-mail me at <a href="mailto:hello@timyvillarmia.com">hello@timyvillarmia.com</a>.
					</p>
					<button class="">
						<a href="/info" class="flex items-center no-underline gap-x-1.5">
							About Me
							<span><Icon name="mdi:arrow-right-thin" class="text-2xl"/></span>
						</a>
					</button>
				</div>
				<div class="container mx-auto lg:basis-1/2">
					<Picture 
					src={Profile}
					alt="Profile"
					formats={['webp']}
					class={"h-auto w-auto rounded-lg"}
					loading="lazy"
					decoding="async"
					/>
				</div>
			</div>
		</section>
		<section class="py-20 text-balance lg:py-32">
			<div class="container mx-auto flex flex-col gap-y-20 lg:flex-row lg:gap-x-4">
				<div class="lg:basis-1/2">
					<div class="sticky top-24">
						<p class="font-bold uppercase mb-2 opacity-100">featured work</p>
						<p>
							a curated selection of my standout projects, showcasing my skills and creativity over the past few years.
						</p>
					</div>
				</div>
				<div class="flex flex-col gap-y-8 lg:basis-1/2 ">
					{projects.map((project) => <Card project={project} />)}
				</div>
			</div>
			
		</section>
		<section class="bg-dark-gray py-20 text-balance lg:py-32">
			<div class="container mx-auto flex flex-col gap-y-20 lg:flex-row lg:gap-x-10">
				<div class="lg:basis-1/2">
					<div class="sticky top-24">
						<p class="font-bold uppercase mb-2 opacity-100">Playground</p>
						<p>
							A collection of my half-finished projects, 
							random ideas, experiments that are fun, & 
							sometimes just a little bit weird.
						</p>
					</div>

				</div>
				<div class="flex flex-col gap-y-4 lg:basis-1/2">
					{playground.data.map((project) => <PlaygroundCard project={project} />)}
				</div>
			</div>
		</section>
		<div>
		</div>
	</main>
</Layout>


