---
import Layout from '../layouts/Layout.astro';
import { Image, Picture } from 'astro:assets';
import { getCollection, getEntry } from 'astro:content';
import Profile from '../../public/images/profile.webp'



const collection = await getEntry('data', 'profile');

---

<Layout title="Info - Timy Villarmia">
    <main>
        <section class="mt-60">
            <div class="container mx-auto text-center pb-60">
                <div>
                    <h1 class="text-6xl uppercase font-bold mb-2 sm:text-9xl">info</h1>
                    <div class="flex justify-center">
                        <p class="max-w-lg">Who is Timy Villarmia? Explore the journey, skills, 
                            and aspirations in the field of computer science.
                        </p>
                    </div>

                </div>
            </div>
            <div class="container mx-auto flex flex-col text-balance gap-y-12 lg:flex-row">
                <div class="lg:basis-1/2 lg:pr-20">
                    <Picture 
					src={Profile}
					alt="Profile"
					formats={['webp']}
					class={"h-auto w-auto rounded-lg"}
					loading="lazy"
					decoding="async"
					/>
                </div>
                <div class="lg:basis-1/2 lg:pt-16 lg:pb-32 xl:pt-44 2xl:pt-72 2xl:pb-32">
                    <h1 class="text-4xl  font-bold  mb-8 md:text-5xl lg:text-8xl lg:mb-28">Hi there, I'm Timy</h1>
                    <p class="whitespace-pre-line">Growing up in Cebu, Philippines, I was the first in my family to pursue college. Raised by a hardworking single mom who worked as a maid, my love for technology started young. Like most kids, I was hooked on video games and fascinated by tinkering with computers (sometimes fixing, but mostly breaking things, haha!). Despite the occasional "get off the computer" warnings, this early exploration sparked a lifelong passion for technology.

                        This passion led me to study <strong>Computer Science</strong> at the <strong>Asian College of Technology</strong>, where I'm currently in my third year. As a programmer, I enjoy building the entire picture, from front-end to back-end. However, I'm also deeply interested in Artificial Intelligence and Game Development., While academics keep me busy, volunteering for <strong>Ngiti Charity</strong>, a non-profit organization, allows me to give back to the community.
                        
                        Outside coding, you'll find me unwinding with casual gaming and tech content on YouTube. I'm an INFJ personality type at heart, which means I'm driven by a desire to help others. This translates to my coding philosophy – I believe in building things that make a positive impact. Empathy, integrity, and trust are core values that guide me in everything I do.
                    </p>
                </div>
            </div>
        </section>
        <section class="container mx-auto py-20 flex flex-col gap-y-10">
            <div class="bg-dark-gray rounded-[40px] py-6 px-6 lg:py-10 lg:px-10">
                <div class="flex flex-col gap-y-4 lg:flex-row">
                    <h1 class="text-3xl font-bold whitespace-pre-line md:text-5xl lg:basis-1/2">CAREER 
                        + EDUCATION
                    </h1>
                    <div class="divide-off-white/25 divide-y-[1px] divide-solid lg:basis-1/2">
                        <div class="pb-6 flex flex-col space-y-6">
                            {collection.data["experience"].map((experience)=> 
                            <div>
                                <p class="text-xs">{experience.date}</p>
                                <p class="font-bold opacity-100">{experience.company}</p>
                                <p>{experience.position}</p>
                            </div>
                            )}
                        </div>
                        <div class="py-6 flex flex-col space-y-6">
                            {collection.data["education"].map((education)=> 
                            <div>
                                <p class="text-xs">{education.date}</p>
                                <p class="font-bold opacity-100">{education.name}</p>
                                <p>{education.degree}</p>
                            </div>
                            )}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-dark-gray rounded-[40px] py-6 px-6 lg:py-10 lg:px-10">
                <div class="flex flex-col gap-y-4 lg:flex-row">
                    <h1 class="text-3xl font-bold whitespace-pre-line md:text-5xl lg:basis-1/2">SKILLS
                        + CERTIFICATIONS
                    </h1>
                    <div class="divide-off-white/25 divide-y-[1px] divide-solid lg:basis-1/2">
                        <div class="pb-6">
                            <p class="mb-4 ">Here are some technologies I have been working with:</p>
                            <div class="columns-2">
                                {collection.data["technologies"].map((technologies)=> 
                                <p>✦ {technologies}</p>
                                )}
                            </div>

                        </div>
                        <div class="py-6 flex flex-col space-y-4">
                            {collection.data["certificates"].map((certificates)=> 
                            <div>
                                <a class="font-bold" target="_blank" href={certificates.CredentialURL}>{certificates.Name}</a>
                                <p class="">{certificates.Issuedby}</p>
                            </div>
                            )}
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>

</Layout>